.DS_Store
.classpath
.project
bin/
cs340-catan.iml

*.iml

SQLPersistence/SQLPersistence.iml

.idea
.settings/.jsdtscope

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

*.prefs

*.class

server/test-build/
coverage-build/
coverage-reports/
server/test-reports/
server/coverage-reports/

plugins/SQLPersistence/out/
plugins/SQLPersistence/db/
*.sqlite


ant-build/
cobertura.ser
*.ser
