.DS_Store
.classpath
.project
bin/
cs340-catan.iml

SQLPersistence/SQLPersistence.iml

.idea
.settings/.jsdtscope

.settings/org.eclipse.wst.jsdt.ui.superType.container

.settings/org.eclipse.wst.jsdt.ui.superType.name

*.prefs

server/test-build/
coverage-build/
coverage-reports/
server/test-reports/

SQLPersistence/db/
*.sqlite
